<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="post">
	<insert id="insert">
		INSERT INTO TBL_POST
		(ID, POST_TITLE, POST_CONTENT, MEMBER_ID)
		VALUES(SEQ_POST.NEXTVAL, #{postTitle}, #{postContent}, #{memberId})
	</insert>
	<select id="selectAll" resultType="postDTO">
		SELECT
			ID, POST_TITLE, POST_CONTENT, MEMBER_ID, CREATED_DATE, UPDATED_DATE,
			MEMBER_NAME
		FROM 
		(
			SELECT 
				ROWNUM R, 
				P.ID, P.POST_TITLE, P.POST_CONTENT, P.MEMBER_ID, P.CREATED_DATE, P.UPDATED_DATE,
				M.MEMBER_NAME 
			FROM TBL_MEMBER M JOIN TBL_POST P
			ON M.ID = P.MEMBER_ID
		<![CDATA[
			WHERE ROWNUM <= #{endRow}
			ORDER BY ID DESC
		)
		WHERE R >= #{startRow}
		]]>
	</select>
	<select id="selectCountAll" resultType="_int">
		SELECT COUNT(*) FROM TBL_POST
	</select>
	<select id="selectById" resultType="postDTO">
		SELECT 
			ID, POST_TITLE, POST_CONTENT, POST_READ_COUNT, MEMBER_NAME, MEMBER_ID, CREATED_DATE, UPDATED_DATE
		FROM VIEW_POST_MEMBER WHERE ID = #{id}
	</select>
	<update id="updateReadCount">
		UPDATE TBL_POST
		SET POST_READ_COUNT = POST_READ_COUNT + 1
		WHERE ID = #{id}
	</update>
	<update id="update">
		UPDATE TBL_POST
		SET POST_TITLE = #{postTitle}, POST_CONTENT = #{postContent}, UPDATED_DATE = SYSDATE
		WHERE ID = #{id}
	</update>
	<delete id="delete">
		DELETE FROM TBL_POST WHERE ID = #{id}
	</delete>
</mapper>

















